<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mlzone.csuldw.dao.IStarMapper">
	<resultMap id="BaseResultMap" type="com.mlzone.csuldw.entity.StarEntity">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="from_user_id" property="fromUserId" jdbcType="INTEGER" />
		<result column="to_user_id" property="toUserId" jdbcType="INTEGER" />
		<result column="comment_id" property="commentId" jdbcType="INTEGER" />
		<result column="star_date" property="starDate" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, from_user_id, to_user_id, comment_id, star_date
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tb_star
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteStarById" parameterType="java.lang.Integer">
		delete from tb_star
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="saveStar" parameterType="com.mlzone.csuldw.entity.StarEntity">
		insert into tb_star (id, from_user_id, to_user_id,
		comment_id, star_date)
		values (#{id,jdbcType=INTEGER}, #{fromUserId,jdbcType=INTEGER},
		#{toUserId,jdbcType=INTEGER},
		#{commentId,jdbcType=INTEGER}, #{starDate,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.mlzone.csuldw.entity.StarEntity">
		insert into tb_star
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="fromUserId != null">
				from_user_id,
			</if>
			<if test="toUserId != null">
				to_user_id,
			</if>
			<if test="commentId != null">
				comment_id,
			</if>
			<if test="starDate != null">
				star_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="fromUserId != null">
				#{fromUserId,jdbcType=INTEGER},
			</if>
			<if test="toUserId != null">
				#{toUserId,jdbcType=INTEGER},
			</if>
			<if test="commentId != null">
				#{commentId,jdbcType=INTEGER},
			</if>
			<if test="starDate != null">
				#{starDate,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.mlzone.csuldw.entity.StarEntity">
		update tb_star
		<set>
			<if test="fromUserId != null">
				from_user_id = #{fromUserId,jdbcType=INTEGER},
			</if>
			<if test="toUserId != null">
				to_user_id = #{toUserId,jdbcType=INTEGER},
			</if>
			<if test="commentId != null">
				comment_id = #{commentId,jdbcType=INTEGER},
			</if>
			<if test="starDate != null">
				star_date = #{starDate,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.mlzone.csuldw.entity.StarEntity">
		update tb_star
		set from_user_id = #{fromUserId,jdbcType=INTEGER},
		to_user_id = #{toUserId,jdbcType=INTEGER},
		comment_id = #{commentId,jdbcType=INTEGER},
		star_date = #{starDate,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
 	<select id="countStarByCommentId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
		select count(*) from tb_star where comment_id = #{commentId}
	</select>
	
</mapper>