<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mlzone.csuldw.dao.IUserMapper">

    <select id="findAge" parameterType="String" resultType="String">
        select age from d_user WHERE id=#{id} 
    </select>
    <select id="getUser" resultType="com.mlzone.csuldw.entity.UserEntity">
        select * from d_user
    </select>
</mapper>